{% extends 'base.html' %}

{% block title %}
{% if is_update %}Edit Requirement{% else %}Create Requirement{% endif %}
{% endblock %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">
<h3>
{% if is_update %}
Edit Requirement
{% else %}
Create Requirement
{% endif %}
</h3>
</div>

<div class="card-body">

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="row">

<div class="col-md-6 mb-3">
<label>Project</label>
{{ form.project }}
</div>

<div class="col-md-6 mb-3">
<label>Owner</label>
{{ form.owner }}
</div>

<div class="col-md-12 mb-3">
<label>Requirement Title</label>
{{ form.title }}
</div>

<div class="col-md-12 mb-3">
<label>Details</label>
{{ form.description }}
</div>

<div class="col-md-6 mb-3">
<label>Start Date</label>
{{ form.start_date }}
</div>

<div class="col-md-6 mb-3">
<label>End Date</label>
{{ form.end_date }}
</div>

<div class="col-md-6 mb-3">
<label>Estimated Effort (Hours)</label>
{{ form.estimated_effort }}
</div>

<div class="col-md-6 mb-3">
<label>Effort Spent (Hours)</label>
{{ form.effort_spent }}
</div>

<div class="col-md-6 mb-3">
<label>Status</label>
{{ form.status }}
</div>

<div class="col-md-6 mb-3">
<label>Priority</label>
{{ form.priority }}
</div>

<div class="col-md-12 mb-3">
<label>Attachment</label>
<input
type="file"
name="attachment"
class="form-control">
</div>

<div class="col-md-12 mb-3">
<label>Comments</label>

<textarea
name="comment"
class="form-control"
rows="4"
placeholder="Enter comments"></textarea>

</div>

</div>

<div class="mt-3">

<button class="btn btn-success">
Save Requirement
</button>

<a href="{% url 'project_detail' project.pk %}"
class="btn btn-secondary">
Cancel
</a>

</div>

</form>

</div>

</div>

</div>

{% endblock %}